* {padding: 0px; margin: 0px; font-family: 'Alef', sans-serif;}

header, aside, article, section, footer, main{
    display: block;
}
.bold{
    font-weight: bold;
}

.clear{
    clear: both;
}

body > header > section > h5{
    float: right;
    width: auto;
    padding-top: 25px;
    padding-right: 10px;
    height: 25px;
    font-size: 18px;
}

#user{
    background-image: url(../images/iris.png);
    background-repeat: no-repeat;  
    margin-right: 25px; 
    width: 55px;
    height: 70px;
    float: right;
}
.navbar{
    position: relative;
    bottom: 69px;
    width: 100%;    
    height: 52px;
    background-color: #62c462;
    z-index: 1;
}

.navbar-nav{
    background-color: #62c462;
    z-index: 1;
}

.fas{
    font-size: 25px;
    color: #ffffff;
}

.form-inline{
    background-color: #62c462;
    height: 50px;
}

.nav-item{
    height: 52px;
    width: 231px;
    list-style-type: none;
}

.nav-link{
    display: block;
    color: #ffffff;
    font-size: 20px;
    height: 52px;
    width: 231px;
    padding-top: 10px;
    text-decoration: none;
    text-align: center;
}

.nav-link:hover{
    color: #ffffff;
    text-decoration: none;

}

header > section:nth-child(1){
    background-color: #dff0d8;
    height: 100px;
    padding-top: 10px;
}

header > section > form{
    position: relative;
    left: 80px;
    bottom: 49px;
    width: 211px;
}

header > section > form > ::-webkit-input-placeholder{
    position: relative;
    left: 135px;
}

.btn-outline-success{
    background-color: #ffffff;
    border: none;
}

#logo{
    margin: 0px auto;   
    display: block;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 225px;
    height: 73px;
}

#selected{
    background-color: #a0db9d;
    color: #777777;
    font-weight: bold;
    height: 52px;
    width: 231px;
}

#t1{
    font-family: 'Alef', sans-serif;
}

#clock{
    position: relative;
    color: #616161;
    font-size: 18px;
    width: 50px;
    height: 21px;
    bottom: 80px;
    left: 80px;
}

#date{
    position: relative;
    color: #616161;
    width: 100px;
    height: 21px;
    font-size: 18px;
    left: 80px;
    bottom: 75px;
    margin-left: 0px;
}

#currDay{
    position: relative;
    color: #616161;
    width: 100px;
    font-size: 18px;
    left: 80px;
    bottom: 70px;
    margin-left: 0px;
}

.breadcrumb{
    position: relative;
    bottom: 40px;
    float: right;
    right: 40px;
    background-color: #ffffff;
}

.breadcrumb-item{
    float: right;

}

.breadcrumb-item > a{
    color: #222222;
    text-decoration-line: underline;
}

#currentPage{
    font-weight: bold;
    text-decoration-line: none;
}

.breadcrumb-left-arrow .breadcrumb-item+.breadcrumb-item::before {
    content: "<";
    vertical-align: middle;
    font-size: 15px;
    line-height: 15px;
}

/* Main Patient List */

#patientList h1{
    font-size: 24px;
    position: relative;
    width: 330px;
    margin: 0px auto;
    bottom: 100px;
}

#patientList .marked{
    background-color: #f5fbf3;
    height: 62px;   
    vertical-align: middle;
}

#patientList .table thead th{
    border: none;
}

#patientList .table td, .table th{
    border-top: none;
}

#patientList table > thead > tr > th{
    text-align: right;
}

#patientList table > tbody > tr > td{
    text-align: right;
    vertical-align: middle;
}

#patientList table > tbody > tr{
    height: 62px;  
}


#patientList .fa-check-circle{
    color: #62c462;
    font-size: 24px;
}

#patientList .fa-times-circle{
    color: #b94a48;
    font-size: 24px;
}

#patientList .pDetail{
    width: 93px;
    height: 40px;
    margin-top: 10px;
    border: none;
    background-color: #777777;
    color: #ffffff;
    border-radius: 5px;
}

#patientList .bold{
    font-weight: bold;
}




/* ------------------Tipul------------------- */

#tipul h1{
    font-size: 24px;
    position: relative;
    margin: 0px auto;
    bottom: 30px;
    font-weight: bold;
}

#tipul h5{
    font-size: 16px;
    font-weight: bold;
}

#tipul .table td{
    padding: 0px;
    width: 10px;
}

#tipul .table th{
    padding: 0px;
}


#tipul main{
    position: relative;
    bottom: 50px;
}

#tipul .border-bottom{
    border-bottom:1px solid #e9ecef;
}

.table {
    max-width: 800px;
    margin: 0px auto;
}

#tipul h4{
    font-size: 26px;
    font-weight: bold;
}

#tipul label{
    font-size: 24px;
    position: relative;
}

#tipul .inputSize{
    height: 30px; 
}

#tipul h3{
    color: #46a546;
    font-size: 18px;
}

#tipul .submit {
    background-color: #62c462;
    border: none;
    width: 144px;
    height: 45px;
    color: #ffffff;
    border-radius: 5px;
    position: fixed;
    bottom:5px;
}

#tipul .back {
    background-color: #555555;
    border: none;
    width: 144px;
    height: 45px;
    color: #ffffff;
    border-radius: 5px;
    position: fixed;
    bottom:5px;
    right: 10%;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}

#tipul .container{
    margin: 0px auto;
    max-width: 1000px;
}



#tipul .right {
    position: relative;
    left:400px;
}

/* hisunim List */

#hisunim h1{
    font-size: 24px;
    position: relative;
    width: 450px;
    margin: 0px auto;
    bottom: 100px;
    font-weight: bold;
}

#hisunim .table thead th{
    border: none;
}

#hisunim .marked{
    background-color: #f5fbf3;
    height: 62px;   
    vertical-align: middle;
}

#hisunim .table thead th{
    border: none;
}

#hisunim .table td, .table th{
    border-top: none;
}

#hisunim table > thead > tr > th{
    text-align: right;
}

#hisunim table > tbody > tr > td{
    text-align: right;
    vertical-align: middle;
    font-size: 18px;
}

#hisunim table > tbody > tr{
    height: 62px;  
}

#hisunim input[type = checkbox] {
    width: 20px;
    height: 20px;
}

#hisunim input[class = send]{
    width: 116px;
    height: 45px;
    font-size: 18px;
    color: #ffffff;
    background-color: #62c462;
    border-radius: 5px;
    border: none;
    position: fixed;
    bottom:5px;
    left: 20px;
}

#hisunim .currentStock[innerHTML = "300"]{
    color: #46a546;
    position: fixed;
    bottom: 10px;
}

#hisunim #sub {
    background-color: #555555;
    border: none;
    width: 144px;
    height: 45px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom:5px;
    right:20px;
}

#hisunim #Delete {
    background-color: #bd362f;
    border: none;
    width: 144px;
    height: 45px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    position: fixed;
    bottom: 55px;
    right: 20px;
}

#hisunim .sendArrow{
    display: none;
}



/*-----------------Confirm---------------*/

#confirm .container{
    margin: 0px auto;
    max-width: 1000px;
}

#confirm .checkButton{
    width: 81px;
    height: 81px;
    display: block;
    margin: 0px auto;
    position: relative;
    bottom: 100px;
}

#confirm h1{
    font-size: 42px;
    position: relative;
    width: 450px;
    margin: 0px auto;
    bottom: 100px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

#confirm h5 {
    font-size: 16px;
    position: relative;
    bottom: 100px;
    text-align: center;
    padding-top: 10px;
}

#confirm h2 {
    font-size: 24px;
    position: relative;
    bottom: 100px;
    text-align: right;
    font-weight: bold;
    padding-top: 10px;
}

#confirm h4{
    font-size: 25px;
    position: relative;
    bottom: 100px;
    text-align: right;
    padding-top: 10px;
}

#confirm h3{
    font-size: 18px;
    position: relative;
    bottom: 100px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

#confirm .marked{
    background-color: #f5fbf3;
    height: 62px;   
    vertical-align: middle;
}

#confirm .table{
    position: relative;
    bottom: 100px;
}

#confirm .table thead th{
    border: none;
}

#confirm .table td, .table th{
    border-top: none;
}

#confirm  table > thead > tr > th{
    text-align: right;
}

#confirm  table > tbody > tr > td{
    text-align: right;
    vertical-align: middle;
}

#confirm table > tbody > tr{
    height: 62px;  
}

#confirm .submit {
    background-color: #62c462;
    border: none;
    width: 144px;
    height: 45px;
    color: #ffffff;
    border-radius: 5px;
    position: fixed;
    bottom: 5px;
}

#confirm .back {
    background-color: #555555;
    border: none;
    width: 144px;
    height: 45px;
    color: #ffffff;
    border-radius: 5px;
    position: fixed;
    bottom: 5px;
    right:20px;
}

.fa-trash{
    display: none;
}

#hisunim .fa-plus{
    display: none;
}

.red {color: #bd362f}
.yellow {color: #ffc40d}
.green {color: #46a546}

#hisunim .inputSize{
    border-radius: 5px;
}


/* ---------------------------- LIGHT BOX -------------------------- */

.lightBox {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}


.lightBox-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}


.lightBox-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.lightBox-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    width: 100%;
    min-height: 49px;
}


.lightBox-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#tipul .continue {
    background-color: #ffffff;
    border: none;
    width: 144px;
    height: 45px;
    color: #000000;
    border-radius: 5px;
    position: relative;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    float: left;
}

#tipul .backMenu {
    background-color: #616161;
    border: none;
    width: 144px;
    height: 45px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    position: relative;
    float: right;
}

#tipul .input-group{
    width: 570px;
    margin: 0px;
}

#hisunim .input-group{
    padding-left: 40%;
}

#hisunim .continue {
    background-color: #ffffff;
    border: none;
    width: 144px;
    height: 45px;
    color: #000000;
    border-radius: 5px;
}

#hisunim .backMenu {
    background-color: #616161;
    border: none;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    width: 144px;
    height: 45px;
    color: #ffffff;
    border-radius: 5px;
    position: relative;
    float: right;
}


#hisunim .lightBox-footer.alertLightBox{
    background-color: #bd362f;
}

#hisunim .lightBox-header.alertLightBox{
    background-color: #bd362f;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0px; opacity: 1}
}

/* ---------------------------- END OF LIGHT BOX -------------------------- */

@media (max-width: 992px){
    .navbar {
        position: relative;
        bottom: 69px;
        width: 100%;
        height: 100%;
        background-color: #62c462;
        z-index: 1;
    }

    .breadcrumb-item{
        display: none;
    }

    .toHide{
        display: none;
    }

    #print{
        display: none;
    }

    #hisunim input[type = checkbox] {
        width: 35px;
        height: 35px;
    }
}


@media (max-width: 1260px){

    .fa-arrow-left{
        font-size: 40px;
        color: #62c462;
        border: none;
        position: fixed;
        bottom:5px;
        left: 20px;
    }

    #hisunim .sendArrow{
        display: block;
        background-color: #ffffff;
        right: 20px;
        position: fixed;
    }

    #hisunim .fa-plus{
        color: #555555;
        border: none;
        text-align: center;
        position: fixed;
        bottom:5px;
        right: 20px;
        font-size: 40px;
        display: block;
    }

    #hisunim #sub{
        display: none;
    }

    input[class = send]{
        display: none;
    }

    #hisunim .fa-trash{
        border: none;
        display: block;
        font-size: 40px;
        position: fixed;
        bottom: 55px;
        right: 20px;
        color: #ff0000;
        background-color: #ffffff;
    }

    #Delete{
        display: none;
    }

}